.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #167D7F;
    padding: 0 107px;
    margin: 0;
  }

  .logo img {
    height: 80%; 
    max-height: 80px; 
    position: relative;
    margin-left: -45px;
  }